.tittle1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 37px;
    text-align: center;
}
.tittle{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}